<!DOCTYPE html>
<html>
  <head>
    <title>Gradebook</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if session[:user_type] == "teacher" %>
      <%= link_to "Teachers", teachers_path %>
      <%= link_to "Students", students_path %>
      <%= link_to "Parents", parents_path %>
    <% end %>
    <% if session[:user_id] %>
      <%= link_to "Home", root_path %>
      <%= link_to "Edit Self", "/#{session[:user_type]}s/#{session[:user_id]}/edit" %>
      <%= link_to "Logout", sessions_logout_path %>
      <p>
        Signed in as : <%= @user.name %>
      </p>
    <% else %>
      <%= link_to "New Teacher", new_teacher_path %>
    <% end %>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
